* {
  box-sizing: border-box;
  margin: 0;
  color: #333;
}
html,body {
  overflow-x: hidden;
}
body {
  font-family: "roboto";
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
/*HERO SECTION*/
.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.hero__image {
  height: 100%;
  padding-right: 20px;
  transform: rotateY(180deg) translateY(10px);
  z-index: -1;
  max-width: 50%;

}
.hero__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 60px;
  justify-content: space-around;
}
.hero__title {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-size: calc(44px + (75 - 44) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(54px + (88 - 54) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
}
.hero__title::after {
  position: absolute;
  content: '';
  left:5%;
  right: 5%;
  bottom: -25px;
  border-bottom: 2px solid #333;
}
.hero__info {
  font-family: "Oswald";
  font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
  display: flex;
  justify-content: space-around;
}
.hero__infobox {
  display: flex;
  flex-direction: column;
}
.hero__infobox i {
  font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
}
.hero__theme {
  font-size: calc(28px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  display: flex;
  flex-direction: column;
}
.hero__theme-row {
  display: flex;
  align-self: center;
}
.hero__theme-row svg {
  height: calc(28px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  align-self: end;
/*  animation: bg-color 5s infinite;
-webkit-animation: bg-color 5s infinite;*/
  /*background: linear-gradient(180deg,
        red 0%, red 16.7%,
        orange 16.7%, orange 33.3%,
        yellow 33.3%, yellow 50%,
        green 50%, green 66.7%,
        blue 66.7%, blue 83.3%,
        purple 83.3%, purple 100%);*/
}
.hero__action {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding: 1em 1.4em;
  text-align: center;
  transition: background .3s, color .3s;
  margin: 10px 20px;
  background-color: #3a7e8c;
  color: #fff;
  align-self: center;
/*  animation: bg-color 12s infinite;
-webkit-animation: bg-color 12s infinite;*/
}
.hero__action:hover {
    text-decoration: underline;
    background-color: #2e6470;
      }
/*HoCo Photo Grid*/
.hocogrid {
  display: grid;
}
/*FEATURE SECTION*/
.feature.about {
  background: #333;
  padding: 4vw 8vw;
}
.feature.about * {
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}
.feature__header {
  padding: 2vw 3.5vw;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: calc(37px + (37 - 32) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  font-weight: 300;
}
.event .feature__header {
  background-color: #c2323b;
}
.why .feature__header {
  background-color: #e96a28;
}
.partner .feature__header {
  background-color: #f1cc5d;
}
.get-involved .feature__header {
  background-color: #3a7e8c;

}
.who-we-are .feature__header {
  background-color: #9213d6;
}
.partner .feature__content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.partner .feature__content img {
  max-height: 200px;
  align-self: center;
}
.feature__cards {
  display: flex;

}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 33%;
  color: #fff;
}
.card a {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card__body {
  padding: 3vw 3.5vw;
  flex-grow: 1;
}
.event .card:nth-child(odd) {
  background-color: #f33f4a;
}
.event .card:nth-child(even) {
  background-color: #f4525c;
}
.why .card:nth-child(odd) {
  background-color: #ee8c59;
}
.why .card:nth-child(even) {
  background-color: #ec7a3f;
}
.get-involved .card:nth-child(even) {
  background-color: #418e9e;
}
.get-involved .card:nth-child(odd) {
  background-color: #58a9ba;
}
.card__header {
  font-size: calc(26px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5px;
/*  border-bottom: 1px solid #fff; */
}
.card__header::after {
  content: '';
  width: 160px;
  border-bottom: 2px solid #fff;
  position: absolute;;
  bottom: 0;
  left: 0;
  transition: all .3s;
}
.card a:hover .card__header::after{
  width: 100%;
}
.card__content {
  color: #fff;
  line-height: 1.4;
  padding: 10px 0 10px 0;
  flex-grow: 1;
}
.card__action {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  text-align: center;
  transition: all .4s;
  align-self: flex-end;
  min-width: 50%;
  background-color: rgba(0,0,0,.4);
}
.card a, .card a:visited, .card a.active {
  text-decoration: none;
}
.card a:hover .card__action{
/*  background-color: rgba(0,0,0,.6);
  text-decoration: underline;*/
  min-width: 100%;
}
.person-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.person {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 400px;
  position: relative;
  transition: filter .3s;
}
.person__details {
  display: none;
  position: absolute;
  padding: 1vw 1.5vw;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0,.6);
}
.person__name {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: calc(22px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  font-weight: 300;
}
.person__position {
  color: #fff;
  font-style: italic;
}
.person__work {
  color: #fff;
}
.person__blurb p {
  color: #fff;
  display: none;
}
.person:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.person:hover .person__details {
  display: block;
}
/*ANIMATION*/
@-webkit-keyframes bg-color {
  0% { background-color: #f73e46; }
  20% { background-color: #ff9456; }
  40% { background-color: #ffe24e; }
  60% { background-color: #52b36c; }
  80% { background-color: #3d919c; }
  100% { background-color: #ac30e8; }
}

@keyframes bg-color {
  0% { background-color: #f73e46; }
  20% { background-color: #ff9456; }
  40% { background-color: #ffe24e; }
  60% { background-color: #52b36c; }
  80% { background-color: #3d919c; }
  100% { background-color: #ac30e8; }
}
/*Utilities*/
.unused {
  display: none !important;
}
